<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-baidu-location" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-baidu-location</name>
    <js-module src="www/cordova-plugin-baidu-location.js" name="baidulocation">
        <clobbers target="window.BaiduLocation" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BaiduLocation">
                <param name="android-package" value="com.happy2discover.cordova.plugin.BaiduLocation"/>
            </feature>
        </config-file>

        <source-file src="src/android/BaiduLocation.java" target-dir="src/com/happy2discover/cordova/plugin" />

        <source-file src="src/android/libs/arm64-v8a/libindoor.so" target-dir="libs/arm64-v8a" />
        <source-file src="src/android/libs/arm64-v8a/liblocSDK7b.so" target-dir="libs/arm64-v8a" />
        <source-file src="src/android/libs/armeabi/libindoor.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/liblocSDK7b.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi-v7a/libindoor.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/armeabi-v7a/liblocSDK7b.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/x86/libindoor.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/x86/liblocSDK7b.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/x86_64/libindoor.so" target-dir="libs/x86_64" />
        <source-file src="src/android/libs/x86_64/liblocSDK7b.so" target-dir="libs/x86_64" />
    </platform>
</plugin>
