<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-baidu-location" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-baidu-location</name>
    <js-module name="cordova-plugin-baidu-location" src="www/cordova-plugin-baidu-location.js">
        <clobbers target="cordova.plugins.cordova-plugin-baidu-location" />
    </js-module>
</plugin>
