<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-baidu-location" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-plugin-baidu-location</name>
  <js-module name="BaiduLocation" src="www/cordova-plugin-baidu-location.js">
    <clobbers target="window.BaiduLocation" />
  </js-module>
  <preference default="" name="AK_ANDROID" />
  <preference default="" name="IOS_KEY" />

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="BaiduLocation">
        <param name="android-package" value="com.happy2discover.cordova.plugin.BaiduLocation" />
      </feature>
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="$AK_ANDROID"></meta-data>
      <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"></service>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    </config-file>
    <source-file src="src/android/BaiduLocation.java" target-dir="src/com/happy2discover/cordova/plugin" />
    <source-file src="src/android/libs/arm64-v8a/libindoor.so" target-dir="libs/arm64-v8a" />
    <source-file src="src/android/libs/arm64-v8a/liblocSDK7b.so" target-dir="libs/arm64-v8a" />
    <source-file src="src/android/libs/armeabi/libindoor.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/armeabi/liblocSDK7b.so" target-dir="libs/armeabi" />
    <source-file src="src/android/libs/armeabi-v7a/libindoor.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/libs/armeabi-v7a/liblocSDK7b.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/libs/x86/libindoor.so" target-dir="libs/x86" />
    <source-file src="src/android/libs/x86/liblocSDK7b.so" target-dir="libs/x86" />
    <source-file src="src/android/libs/x86_64/libindoor.so" target-dir="libs/x86_64" />
    <source-file src="src/android/libs/x86_64/liblocSDK7b.so" target-dir="libs/x86_64" />
    <source-file src="src/android/libs/BaiduLBS_Android.jar" target-dir="libs" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="BaiduLocation">
        <param name="ios-package" value="BaiduLocation" />
      </feature>
    </config-file>

    <config-file parent="BaiduLocation" target="*-Info.plist">
      <dict>
        <key>IOS_KEY</key>
        <string>$IOS_KEY</string>
      </dict>
    </config-file>

    <header-file src="src/ios/BaiduLocation.h" />
    <source-file src="src/ios/BaiduLocation.m" />

    <framework src="src/ios/libs/BaiduMapAPI_Base.framework" custom="true" />
    <framework src="src/ios/libs/BaiduMapAPI_Location.framework" custom="true" />
    <framework src="src/ios/libs/BaiduMapAPI_Search.framework" custom="true" />
    <source-file src="src/ios/libs/thirdlibs/libcrypto.a" framework="true" />
    <source-file src="src/ios/libs/thirdlibs/libssl.a" framework="true" />

    <framework src="CoreLocation.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libsqlite3.0.tbd" />
    <framework src="CoreTelephony.framework" />
  </platform>
</plugin>